@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

body {
    font-family: 'Open Sans', sans-serif;
}

/* ==== GLOBAL ====================== */

a:not(.btn), a:not(.btn):link, a:not(.btn):visited {
    color: rgb(57, 139, 206);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

/* ==== NAVBAR ====================== */

.navbar-inverse {
    background-color: rgb(57, 139, 206);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.3) inset;
}

.navbar-inverse a {
    color: #EEE !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
    font-weight: normal;
}

.navbar-inverse a:hover {
    color: #FFF !important;
}

/* ==== BUTTONS ===================== */


/* ==== SIDEBAR ===================== */

.panel-sidebar {
    background-color: rgb(245, 245, 245);
}

.panel-sidebar h4 {
    color: #555;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.panel-sidebar ul li a {
    color: rgb(82, 82, 82) !important;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.panel-sidebar ul li a:hover, .panel-sidebar ul li a.active {
    color: rgb(57, 139, 206) !important;
    background: rgb(235,235,235);
}

.panel-sidebar ul li ul {
    list-style: none;
}

.panel-sidebar ul li ul li a {
    display: block;
    padding: 5px 0;
}

.panel-sidebar ul li ul li a.active {
    background: transparent;
}

.panel-sidebar ul li ul li a:hover {
    background: transparent;
}

/* ==== PAGINATION ================== */

ul.pagination li.active a {
    color: #FFF !important;
}

/* ==== HELPER CLASSES ============== */

.base-icon {
    vertical-align: middle;
}

.centered {
    text-align: center;
}