/* ==== NAVBAR ====================== */

.navbar-inverse {
    background-color: #2c3e50;
    border-bottom-color: rgba(0, 0, 0, 0.9);
}

.navbar-inverse a {
    color: #EEE !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
    font-weight: normal;
}

.navbar-inverse a:hover {
    color: #FFF !important;
}

/* ==== GENERAL ===================== */

table tr td:last-child {
    line-height: 1.9em;
}

.tab-content {
    padding-top: 20px;
}

/* ==== BUTTONS ===================== */

.btn {
    padding: 8px 16px;
}
.btn.btn-sm {
    padding: 2px 6px;
}

/* ==== SIDEBAR ===================== */

.panel-sidebar {
    background-color: rgb(245, 245, 245);
}

.panel-sidebar h4 {
    color: #555;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.panel-sidebar ul li a {
    color: rgba(0, 0, 0, 0.7) !important;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.panel-sidebar ul li a:hover, .panel-sidebar ul li a.active {
    color: #18BC9C !important;
    background: rgb(235,235,235);
}

.panel-sidebar ul li ul {
    list-style: none;
    margin: 0;
}

.panel-sidebar ul li ul li a {
    display: block;
    padding: 5px 0;
}

.panel-sidebar ul li ul li a.active {
    background: transparent;
}

.panel-sidebar ul li ul li a:hover {
    background: transparent;
}

/* ==== PAGINATION ================== */

ul.pagination li.active a {
    color: #FFF !important;
}

/* ==== HELPER CLASSES ============== */

.base-icon {
    vertical-align: middle;
}

.centered {
    text-align: center;
}